@import "tailwindcss";
@plugin "daisyui";

:root{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white; /* Set the background color to white */
    color: black;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  /* Country flags */
.fi {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.2em;
  height: 1em;
  line-height: 1em;
}

.fi.fis {
  width: 1em;
  height: 0.75em;
}

.fi-gb {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 30'%3E%3CclipPath id='a'%3E%3Cpath d='M0 0v30h60V0z'/%3E%3C/clipPath%3E%3CclipPath id='b'%3E%3Cpath d='M30 15h30v15zv15H0zH0V0zV0h30z'/%3E%3C/clipPath%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%2300264e' d='M0 0v30h60V0z'/%3E%3Cpath fill='%23cf142b' d='M0 0l60 30m0-30L0 30' stroke='%23fff' stroke-width='6'/%3E%3Cpath fill='%23cf142b' d='M0 0l60 30m0-30L0 30' clip-path='url(%23b)' stroke='%23fff' stroke-width='4'/%3E%3Cpath fill='%2300264e' d='M30 0v30M0 15h60' stroke='%23fff' stroke-width='10'/%3E%3Cpath fill='%23cf142b' d='M30 0v30M0 15h60' stroke='%23fff' stroke-width='6'/%3E%3C/g%3E%3C/svg%3E");
}

.fi-fr {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 6'%3E%3Cpath fill='%230052a7' d='M0 0h3v6H0z'/%3E%3Cpath fill='%23fff' d='M3 0h3v6H3z'/%3E%3Cpath fill='%23ef4135' d='M6 0h3v6H6z'/%3E%3C/svg%3E");
}
.fi-us {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 30'%3E%3Cpath fill='%23bd3d44' d='M0 0h60v30H0z'/%3E%3Cpath fill='%23fff' d='M0 2.31h60v2.31H0zm0 4.62h60v2.31H0zm0 4.62h60v2.31H0zm0 4.62h60v2.31H0zm0 4.62h60v2.31H0zm0 4.62h60v2.31H0zm0 4.62h60v2.31H0z'/%3E%3Cpath fill='%23192f5d' d='M0 0h30v18H0z'/%3E%3Cpath fill='%23fff' d='M3 3h1.5v1.5H3zm6 0h1.5v1.5H9zm6 0h1.5v1.5H15zm6 0h1.5v1.5H21zm6 0h1.5v1.5H27zm0 3h1.5v1.5H27zm-6 0h1.5v1.5H21zm-6 0h1.5v1.5H15zm-6 0h1.5v1.5H9zm-6 0h1.5v1.5H3zm3 3h1.5v1.5H3zm6 0h1.5v1.5H9zm6 0h1.5v1.5H15zm6 0h1.5v1.5H21zm6 0h1.5v1.5H27z'/%3E%3C/svg%3E");
  width: 60px;
  height: 30px;
  background-size: contain;
}

.fi-sa {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 30'%3E%3Crect width='60' height='30' fill='%23006C35'/%3E%3Cpath fill='%23fff' d='M50 10h-2v6h2v-2h-2v-2h2v-2zm-6 0h-2v6h2v-2h-2v-2h2v-2zm-6 0h-6v2h2v4h2v-4h2v-2zm-10 0h-2v6h2v-2h-2v-2h2v-2zm-6 0h-6v2h2v4h2v-4h2v-2zm-10 0h-2v6h2v-2h-2v-2h2v-2zM50 14h-2v2h2v-2zm-6 0h-2v2h2v-2zm-14 0h-2v2h2v-2zm-6 0h-2v2h2v-2zm-10 0h-2v2h2v-2z'/%3E%3Cpath fill='%23fff' d='M45 22h-25v2h20l-5 3h-15v2h15l5-3h5v-2z'/%3E%3C/svg%3E");
  width: 60px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
} 